@model List<UserRequest>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Requests" asp-action="NewRequest" class="btn btn-outline-primary"> Create new Rquest </a>

@if (Model.Count == 0)
{
    <p>Sorry You have not any Request to Show yet </p>
}
else
{
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Document</li>
            <li>@item.ConsiderationStatus</li>
            <li>@item.TimeOfConsideration</li>
        }
    </ul>
}

