@model List<UserRequest>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<button id="btnPdf" class="btn btn-primary">Generate Pdf</button>

<div id="pdfContainer" style="text-align:center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>FullName</th>
                <th>Explanation</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>@item.UserName @item.UserLastName</strong>
                    </td>
                    <td>
                        <span>@item.Explanation</span>
                    </td>
                    @*<td>
                        <span>@item.ConsiderationStatus</span>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $.post("#btnPdf").click(function () {
        var sHtml = $("#pdfContainer").html();
        sHtml = sHtml.replace(/</g, "StrtTag").replace(/>/g, "EndTag");
        //window.open('../Home/GeneratePdf?html=' + sHtml, '_blank');
        window.location = window.location.origin + '/Home/GeneratePdf?html=' + sHtml
    });

</script>